

.card {
    border: 1px solid rgb(83, 100, 113);
    margin-bottom: 5px;
    background-color: black;
    color:#fff;
    padding: 10px;
    width: 700px;
}

.card-author {
    font-size: 18px;
    font-weight: 700;
    display: inline;
}
.card-author-email {
    color:rgb(83, 100, 113);
    font-size: 15px;
    font-weight: 400;
    display: inline;
}
.card-title {
    color: rgb(83, 100, 113);
    font-size: 15px;
    font-weight: 400;
}
.card-text {
    font-size: 17px;
}

span svg {
    width: 16px;
    height: 16px;
    display: inline;
    padding-left: 5px;
}

/* Анімація */
.loader {
    border: 16px solid #f3f3f3; /* Цвет границы */
    border-top: 16px solid #3498db; /* Цвет верхней границы */
    border-radius: 50%; /* Форма круга */
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite; /* Анимация вращения */
    margin: auto;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#add-post-modal {
    margin: 20px 0;
    width: 700px;
}
#add-post-button {
    margin: 20px 0;
}
.modal-content {
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.close-button {
    width: 200px;
}

#create-post-button {
    width: 100px;
}
